:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 140%;
}

body {
  color: var(--text-color-primary);
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: var(--brand-color-light);
  }
}

h1,
h2,
h3 {
  font: inherit;
}

// Classes Utilitárias Abaixo
.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.container {
  max-width: 1280px;
  padding-inline: 32px;
  margin-inline: auto;
}
