@font-face {
  font-family: "Archivo", sans-serif;
  src: local(Archivo) url("../fonts/Archivo-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Archivo", sans-serif;
  src: local(Archivo Medium) url("../fonts/Archivo-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Archivo", sans-serif;
  src: local(Archivo SemiBold) url("../fonts/Archivo-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Archivo", sans-serif;
  src: local(Archivo Bold) url("../fonts/Archivo-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Archivo", sans-serif;
  src: local(Archivo ExtraBold) url("../fonts/Archivo-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 140%;
}

body {
  color: var(--text-color-primary);
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: var(--brand-color-light);
}

h1,
h2,
h3 {
  font: inherit;
}

img {
  max-width: 100%;
}

section header {
  border-top: 1px solid var(--stroke-color);
  padding-block: 12px 24px;
  font: var(--text-span);
}
section header a {
  justify-self: end;
  align-items: center;
  gap: 8px;
}
section header a span {
  background-image: url(../icons/ArrowRight.svg);
  width: 16px;
  height: 16px;
}
section header a:hover span {
  background-image: url(../icons/ArrowRight-hover.svg);
}

.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.container {
  max-width: 1280px;
  padding-inline: 32px;
  margin-inline: auto;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

.gap-16 {
  gap: 16px;
}

.gap-32 {
  gap: 32px;
}

.text-2xl {
  font: var(--h1);
}

.text-xl {
  font: var(--h2);
}

.text-lg {
  font: var(--h3);
}

.text-sm {
  font: var(--text-small);
}

.content-tag {
  display: inline-block;
  background-color: var(--brand-color-dark);
  padding: 4px 8px;
  border-radius: 5px;
  font: 500 1rem/1.2 var(--font-family);
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  color: var(--text-color-primary);
  box-shadow: 0px 4px 16px rgba(2, 6, 23, 0.2509803922);
}

* {
  --brand-color-light: #60a5fa;
  --brand-color-dark: #1d4ed8;
  --bg-color: #0f172a;
  --stroke-color: #1e293b;
  --text-color-primary: #f1f5f9;
  --text-color-secondary: #cbd5e1;
  --font-family: "Archivo", sans-serif;
  --h1: 800 2.4rem/135% var(--font-family);
  --h2: 800 1.6rem/140% var(--font-family);
  --h3: 800 1.4rem/140% var(--font-family);
  --text-span: 600 1.4rem/145% var(--font-family);
  --text-small: 400 1.4rem/160% var(--font-family);
}

#primary {
  padding-block: 20px;
}
#primary div {
  display: flex;
  align-items: center;
  gap: 8px;
}
#primary div:nth-child(2) {
  margin-inline: auto;
}
#primary div:nth-child(3) {
  justify-self: end;
}

#secondary {
  padding-block: 14px;
  border: solid 1px var(--stroke-color);
  border-inline: none;
  justify-content: space-between;
}

main {
  margin-top: 40px;
  gap: 80px;
}
main #featured img {
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.card::before {
  content: "";
  position: absolute;
  inset: 0;
  top: 50%;
  background: linear-gradient(180deg, transparent 0%, #020617 100%);
}
.card figcaption {
  position: absolute;
  bottom: 0;
  padding: 24px;
}
.card figcaption:has(.text-lg) {
  padding: 12px;
}
.card figcaption h2 {
  margin-top: 8px;
}

#weekly > div {
  grid-template-columns: repeat(4, 292px);
}
#weekly img {
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}
#weekly figure {
  position: relative;
}
#weekly figure .content-tag {
  position: absolute;
  top: 8px;
  left: 8px;
}
#weekly figure p {
  margin-top: 8px;
  font-weight: 800;
}

/*# sourceMappingURL=index.css.map */
